appdirs==1.4.4
asgiref==3.4.1
astroid==2.6.6
attrs==21.2.0
autopep8==1.5.7
beautifulsoup4==4.9.3
black==19.10b0
boto==2.49.0
boto3==1.14.26
botocore==1.17.26
certifi==2021.5.30
cfe==0.0.15
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
cryptography==3.0
cycler==0.10.0
decorator==5.0.9
Django==3.2.7
django-crispy-forms==1.12.0
django-rest-passwordreset==1.2.0
django-storages==1.11.1
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
docutils==0.17.1
guidata==1.7.9
guiqwt==3.0.7
html5lib==1.1
idna==3.2
isort==5.9.3
jmespath==0.10.0
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
Markdown==3.3.4
matplotlib==3.4.2
mccabe==0.6.1
mechanize==0.4.5
MouseInfo==0.1.3
mysql-connector-python==8.0.26
networkx==2.6.2
numpy==1.21.1
pandas==1.1.4
pathspec==0.9.0
Pillow==8.3.1
protobuf==3.17.3
psycopg2==2.9.1
PyAutoGUI==0.9.53
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pyfcm==1.5.3
PyGetWindow==0.0.9
Pygments==2.9.0
pylint==2.9.6
pylint-django==2.4.4
pylint-plugin-utils==0.6
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
pypng==0.0.20
PyQRCode==1.2.1
pyqt-tools==1.0.0
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyqt5-Uart-Tool==0.1.1
pyqt5Custom==1.0.1
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.5
python-dateutil==2.8.2
python-dotenv==0.19.0
PythonQwt==0.9.2
pytube3==9.6.4
PyTweening==1.0.3
pytz==2020.1
pywhatkit==5.1
qrcode==7.2
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
QtPy==1.9.0
razorpay==1.2.0
regex==2021.8.3
requests==2.26.0
s3transfer==0.5.0
scipy==1.7.1
selenium==3.141.0
shortuuid==1.0.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.3.1
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.6
webencodings==0.5.1
wikipedia==1.4.0
wrapt==1.12.1
xlrd==2.0.1
