{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Courier Transport Management System</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"
      rel="stylesheet"
    />
    <link href="{% static  'front/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link
      href="{% static 'front/fontawesome/css/all.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'front/css/templatemo-diagoona.css' %}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="tm-container">
      <div>
        <div class="tm-row pt-4">
          <div class="tm-col-left">
            <div class="tm-site-header media">
              <i class="fas fa-shipping-fast fa-3x mt-1 tm-logo"></i>
              <!-- <i class="fas "></i> -->
              <div class="media-body">
                <h1 class="tm-sitename text-uppercase">CTMS</h1>
                <p class="tm-slogon">The Perfect solution to Transportation</p>
              </div>
            </div>
          </div>
          <div class="tm-col-right">
            <nav class="navbar navbar-expand-lg" id="tm-main-nav">
              <button
                class="navbar-toggler toggler-example mr-0 ml-auto"
                type="button"
                data-toggle="collapse"
                data-target="#navbar-nav"
                aria-controls="navbar-nav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span><i class="fas fa-bars"></i></span>
              </button>
              <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                <ul class="navbar-nav text-uppercase">
                  <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="{% url '' %}"
                      >Home <span class="sr-only">(current)</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link tm-nav-link" href="{% url 'login' %}"
                      >Login</a
                    >
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link tm-nav-link" href="{% url 'register' %}"
                      >Register</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link tm-nav-link"
                      href="{% url 'vendor-login' %}"
                      >Vendor</a
                    >
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <div class="tm-row">
          <div class="tm-col-left"></div>
          <main class="tm-col-right">
            <section class="tm-content">
              <h2 class="mb-5 tm-content-title">User Registration</h2>

              <div style="background-color: rgba(0, 0, 0, 0.6); padding: 40px">
                <form action="{% url 'register' %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="mb-3 col-md-6 justify-content-center">
                      <label for="exampleInputEmail1" class="form-label"
                        >First Name</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        name="fname"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="mb-3 col-md-6 justify-content-center">
                      <label for="exampleInputEmail1" class="form-label"
                        >Last Name</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        name="lname"
                        aria-describedby="emailHelp"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-md-6 justify-content-center">
                      <label for="exampleInputEmail1" class="form-label"
                        >City</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        name="city"
                        aria-describedby="emailHelp"
                      />
                    </div>
                    <div class="mb-3 col-md-6 justify-content-center">
                      <label for="exampleInputEmail1" class="form-label"
                        >Contact Number</label
                      >
                      <input
                        required
                        type="number"
                        minlength="10"
                        class="form-control"
                        name="contact"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="mb-3 col-md-12 justify-content-center">
                      <label for="exampleInputEmail1" class="form-label"
                        >Email address
                      </label>
                      <input
                        required
                        type="email"
                        class="form-control"
                        name="email"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                      />
                      <div id="emailHelp" class="form-text">
                        Your email address will be your <u>Username</u> for your
                        account.
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 mb-3">
                      <label for="exampleInputPassword1" class="form-label"
                        >Password</label
                      >
                      <input
                        required
                        type="password"
                        class="form-control"
                        name="password"
                        id="exampleInputPassword1"
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    Are you registered already?
                    <a href="{% url 'login' %}">Login here</a>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    Register
                  </button>
                </form>
              </div>
            </section>
          </main>
        </div>
      </div>

      <div class="tm-row">
        <div class="tm-col-left text-center">
          <ul class="tm-bg-controls-wrapper">
            <li class="tm-bg-control active" data-id="0"></li>
            <li class="tm-bg-control" data-id="1"></li>
            <li class="tm-bg-control" data-id="2"></li>
          </ul>
        </div>
        <div class="tm-col-right tm-col-footer">
          <footer class="tm-site-footer text-right">
            <p class="mb-0">
              Copyright 2020 CTMS | Design by:
              <a
                rel="nofollow"
                target="_parent"
                href="https://templatemo.com"
                class="tm-text-link"
                >Me</a
              >
            </p>
          </footer>
        </div>
      </div>

      <!-- Diagonal background design -->
      <div class="tm-bg">
        <div class="tm-bg-left"></div>
        <div class="tm-bg-right"></div>
      </div>
    </div>

    <script src="{% static 'front/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'front/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'front/js/jquery.backstretch.min.js' %}"></script>
    <script src="{% static 'front/js/templatemo-script.js' %}"></script>
  </body>
</html>
